[Unit]
Description=LoRa24 Packet Logger
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/thalatta_rpi/net_downlink/util_net_downlink
ExecStart=/bin/bash -c "/home/pi/thalatta_rpi/net_downlink/util_net_downlink/net_downlink -P 1730 -l /home/pi/thalatta_rpi/packet_logs/log_$${RANDOM}.csv"
Restart=always
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=net_downlink

[Install]
WantedBy=multi-user.target
